#Technology-Section .content {
  text-transform: capitalize;
  text-align: center;
  max-width: 80vw;
  margin: 0 auto;
}

@media(max-width: 575px){
  #Technology-Section .content {
    text-align: justify !important ;
    padding: 0px !important ; 
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #Technology-Section .content {
    text-align: justify !important ;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #Technology-Section .content {
    padding-left:20px  !important  ;
    padding-right:20px  !important  ;
  }
}
