#Footer {
  background-color: whitesmoke;
  padding: 20px 0;
}

#Footer h6 {
  font-weight: bolder;
}

#Footer .location-icon {
  font-size: 28px;
  color: gray;
  padding-top: 5px;
}

/* Social icons */
/* #Footer .social-icons {
  display: flex;
} */

#Footer .social-icons .icon {
  font-size: 20px;
  /* color: #007bff; */
  color: gray;
  background-color: white;
  border: 2px solid gray;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

#Footer .social-icons .icon:hover {
  background-color: #007bff;
  color: white;
  border: 2px solid #007bff;
}

#Footer .footLinks {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#Footer .footLinks a {
  text-decoration: none;
  color: #333;
  transition: color 0.2s ease-in-out;
}

#Footer .footLinks a:hover {
  color: #007bff;
}

@media (max-width: 768px) {
  #Footer .social-icons {
    justify-content: start;
  }

  #Footer .footLinks {
    text-align: start;
  }
}
